/* General Styles */
body {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-family: Anakotmai;
    width: 400px;
    height: auto;
    color: #303030;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    text-align: center;
    padding: 15px;
    background: linear-gradient(135deg, #093E68, #326A8E);
    color: #fff;
}

.header img {
    width: 200px;
    height: auto;
    margin: 5px;
}

.container {
    padding: 20px;
    text-align: left;
}

#qrcode-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

#qrcode {
    width: 125px;
    height: 125px;
    background: #f4f4f9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.promptpay-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    flex-grow: 1;
}

.promptpay-info p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

label {
    display: block;
    margin-top: 0px;
    font-size: 1em;
    color: #333;
}

input {
    align-items: center;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--main, #093E68);
    border-radius: 20px;
    font-size: 1em;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

button {
    background: linear-gradient(135deg, #093E68, #326A8E);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #093E68;
}

/* Button container styling */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.amount-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.amount-btn {
    background: #fff; /* White background */
    color: #093E68; /* Blue text color */
    border: 1px solid #093E68; /* Blue stroke */
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.amount-btn:hover {
    background: linear-gradient(135deg, #093E68, #326A8E);
    color: #fff; /* White text color on hover */
    border-color: #003b9a; /* Darker blue border on hover */
}

.footer {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    background: #ffffff;
}

.footer img {
    width: 100px;
    height: auto;
}

.footer span {
    bottom: 10px;
    font-weight: 700;
    color: #0052cc;
}
